
body {
  background: url("/images/bg4-min.jpeg") no-repeat center top fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}

h1 {
  font-size: 5rem;
  //margin-left: auto;
  //margin-right: auto;
  display: inline-block;
}

h3 {
  font-size: 3rem;
  margin-top: 3%;
  margin-bottom: 3%;
  text-shadow: 1px 1px black;
}

#registerButton {
  background-color: #cc2900;
  letter-spacing: 0.3px;
  padding: 0.6rem 1.4rem;
  border: 2px solid #cc2900;
}

#navLoginBtn {
  font-size: 1.2rem;
  font-family: Arial, sans-serif;
  background-color: #e62e00;
  color: white;
  letter-spacing: 0.3px;
  padding: 0.6rem 1.4rem;
}

#registerButton:hover {
  border: 2px solid #e62e00;
}

#titleWrap {
  margin-left: -4%;
}

a:hover {
  color: white;
  text-decoration: underline;
}

@media (max-width: 768px) {
  #titleWrap {
    margin-top: 26%;
    margin-left: 0;
  }
  h3 {
    margin-top: 6%;
    margin-bottom: 16%;
    font-size: 2rem;
  }
  #navLoginBtn {
    font-size: 1rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    padding-top: 0.15rem;
    padding-bottom: 0.15rem;
  }
}
